<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(title, body)">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script th:src="@{/js/top.js}" defer></script>
	<title th:replace="${title}">title</title>
</head>

<body>
	<header th:replace="~{common/header :: header(currentUser=${currentUser})}"></header>
	<article id="container">
		<main id="main" th:replace="${body}"></main>
	</article>
	<footer th:replace="~{common/footer :: footer}"></footer>
</body>

</html>
